---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/<twilio account sid>/Messages.json
    body:
      encoding: UTF-8
      string: Body=hi&From=3122487283&To=111111
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUM4ZTc0MTRlOWE5NjEwOTg3NDk5ZDA0OTFhN2RkMzAwNzowNDg1YzFhYmZmYzYyNmZmYjNlMDU3MzY0MjRiNjY2Yg==
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - application/json
      Twilio-Request-Duration:
      - '0.086'
      Twilio-Request-Id:
      - RQ8a1a2765e46e46d38b27bf4a16e77e21
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"code": 21211, "message": "The ''To'' number 111111 is not a valid
        phone number.", "more_info": "https://www.twilio.com/docs/errors/21211", "status":
        400}'
  recorded_at: Wed, 28 Sep 2016 20:31:17 GMT
recorded_with: VCR 3.0.3
